.bookstore {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 0 20px;
  color: blue;
  gap: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.booklist {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.bookstoredata {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(155, 154, 154, 0.719);
  border-radius: 5px;
  background-color: rgba(196, 196, 196, 0.26);
  padding: 10px 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookinfo {
  border: 5px solid royalblue;
  border-left: 5px solid rgb(170, 170, 170);
  border-radius: 50%;
  transform: rotate(25deg);
  width: 70px;
  height: 70px;
}

.percentages {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.form {
  width: 90%;
  margin: 0 20px 10px 0;
  gap: 10px;
}
